{
  "singleQuote": false,
  "semi": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[.]",
    "",
    "^@lib/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrderCaseSensitive": false
}